@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap');

body {
      font-family: "M PLUS Rounded 1c", sans-serif;
      margin: 0;
      height: 100vh;
      cursor: none; 
      
}

body, html {
    padding: 0;
    margin: 0;
    
    
}

#mousey {
    position: fixed;
    border-radius: 100px;
    align-items: center;
    display: inline-block;
    justify-content: center;
    border: 2px black solid;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 999;
    height: 20px;
    background-color: black;
    backdrop-filter: invert(100%);
    pointer-events: none;
    mix-blend-mode: difference;

}

#mousey.hover {
    width: 60px;
    height: 60px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(121, 121, 121);
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.navbar-link {
    color: rgb(121, 121, 121);
    text-decoration: none;
    
}

.links {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    
}

.top-link {
    padding: 10px;
    width: 20px;
    height: 20px;
    color: black;
    border: 2px black dotted;
    border-radius: 100px;
    margin: 0px 10px;
    transition: transform 0.2s ease-in-out
}

.top-link:hover {
    transform: rotate(45deg) scale(1.2)
}

.fullname {
    font-weight: bold;
    padding: 3px;
}
.hoverflip{
    transform: rotateY(0deg);
    transition: transform 0.7s ease-in-out;
    padding: 3px;
}

.hoverflip:hover {
    transform: rotateY(180deg);
}

.flip:hover {
    transform: rotateY(360deg);
}

.flip {
    padding: 3px;
    transform: rotateY(180deg);
    transition: transform 0.7s ease-in-out;
}

.headercontainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    border-bottom: 2px dashed black;
}

.portrait {
    border: 1px black dashed;
    padding: 70px;
    background-size: 100%;
    border-radius: 100px;
    background-image: url(assets/me.jpg);
    filter: sepia(40%);
}



.mainhead, .subhead {
    margin: 10px;
}

.subhead {
    font-weight: 400;
}

.mainhead {
    font-size: 40px;
    font-family: monospace;
    font-weight: 800
}

.aboutme {
    padding: 10px;
}

.aboutmecontainer {
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 30px;
    background-color: lightblue;
}

.smallthing {
    font-family: monospace;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(121, 121, 121);
}

.project {
    margin: 10px;
    border: 1px rgb(121, 121, 121) solid;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    transition: 0.4s ease all;
    max-width: 500px;
}

.project:hover {
    background-color: #f0f0f0;
}

.text {
    padding: 0;
}

.project h1 {
    font-family: monospace;
}

.project h1, .project p {
    margin: 10px;
}

.projectimg {
    padding: 50px;
    background-size: 100%;
    background-size: cover;
    border: 2px black solid;
    border-radius: 50px;;
}

.jonah {background-image: url("assets/jonahicon.png");}
.hexee {background-image: url("assets/hexeeicon.png");}

.nospeciallink {
    color: black;
    text-decoration: none;
}

.rightaligntext {
    text-align: right;
}

.projectright {
    display: flex;
    justify-content: right;
}

.hoverable {
    cursor: none;
}