@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&display=swap');

body {
      font-family: "M PLUS Rounded 1c", sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(121, 121, 121);
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.navbar-link {
    color: rgb(121, 121, 121);
    text-decoration: none;
    
}

.links {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    
}

.top-link {
    padding: 10px;
    width: 20px;
    height: 20px;
    color: black;
    border: 2px black dotted;
    border-radius: 100px;
    margin: 0px 10px;
    transition: transform 0.2s ease-in-out
}

.top-link:hover {
    transform: rotate(45deg) scale(1.2)
}

.fullname {
    font-weight: bold;
    padding: 3px;
}
.hoverflip{
    transform: rotateY(0deg);
    transition: transform 0.7s ease-in-out;
    padding: 3px;
}

.hoverflip:hover {
    transform: rotateY(180deg);
}

.flip:hover {
    transform: rotateY(360deg);
}

.flip {
    padding: 3px;
    transform: rotateY(180deg);
    transition: transform 0.7s ease-in-out;
}

.headercontainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 14px 30px;
    border-bottom: 2px dashed black;
}

.portrait {
    border: 1px black dashed;
    padding: 70px;
    background-size: 100%;
    border-radius: 100px;
    background-image: url(assets/me.jpg);
    filter: sepia(40%);
}



.mainhead, .subhead {
    margin: 10px;
}

.subhead {
    font-weight: 400;
}

.mainhead {
    font-size: 40px;
    font-family: monospace;
    font-weight: 800
}

.aboutme {
    padding: 10px;
}

.aboutmecontainer {
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 30px;
    background-color: lightblue;
}

.smallthing {
    font-family: monospace;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(121, 121, 121);
}